.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
  text-decoration: none;
  padding: 10px;
  background-color: darkgrey;
}
.links {
  text-decoration: none;
  margin: 10px;
  color: blueviolet;
  font-size: 20px;
}
.heading {
  text-decoration: none;
  color: red;
}
